# System Files
.DS_Store
Thumbs.db

# Dependencies
node_modules/
venv/
server/venv/
dist/
dist-ssr/

# Backend Data & Cache
server/__pycache__/
server/chroma_db/
server/downloads/
*.pyc

# Configuration & Secrets
server/config.py
.env
server/.env
*.local

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
